@tailwind base;
@tailwind components;
@tailwind utilities;

.Uniswap [color='container'] > div > div:nth-child(3) {
    position: relative;
}
/* https://github.com/Uniswap/widgets/issues/584    */

.video-react-big-play-button-center {
    display: none !important;
  }

  .turnstile {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
}

.adsContainer {
    width: 100%; 
    max-width: 900px; 
    height: auto; 
    margin: 0 auto;
}

.sponsor-text {
    font-weight: bold;
    font-family: Arial, sans-serif;
    font-size: 16px; /* 改变字体大小 */
}

.sponsor-ad-text {
    font-family: Arial, sans-serif;
    font-size: 12px; /* 改变字体大小 */
}