@tailwind base;
@tailwind components;
@tailwind utilities;

.Uniswap [color='container'] > div > div:nth-child(3) {
    position: relative;
}
/* https://github.com/Uniswap/widgets/issues/584    */

.video-react-big-play-button-center {
    display: none !important;
  }

  .turnstile {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
}